/* Card.css */
.card {
    position: relative;
    top: 300px;
    width:300px;
    height: 200px;
    background: #222222;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 100px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.2) inset, -10px -10px 10px rgba(64, 64, 64, 0.2) inset;
    transition: transform .5s ease, opacity .5s ease, top 0.5s ease;
  }
.fade-in-left {
    transform: translateX(-160%);
    opacity:0;
}

.fade-in-right {
    transform: translateX(160%);
    opacity:0;
}

.visible-left{
    transform: translateX(-90%);
    opacity: 1;
}

.visible-right{
    transform: translateX(90%);
    opacity: 1;
}