/* Card.css */
.card {
    position: relative;
    top: 300px;
    width:400px;
    height: 600px;
    background: #262626;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 10px rgba(10, 10, 10, 0.2) , -10px -10px 10px #242424 ;
    transition: transform .5s ease, opacity .75s ease, top 0.5s ease;
  }
.fade-in-left {
    transform: translateX(-88%);
    opacity:0;
}

.fade-in-right {
    transform: translateX(92%);
    opacity:0;
}

.visible-left{
    transform: translateX(-90%);
    opacity: 1;
}

.visible-right{
    transform: translateX(90%);
    opacity: 1;
}